.menuFiltersContainer{

}

.menuFilters{

}

.searchBox{
  background-color: var(--white);
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  border-radius: 3rem;
  padding: 1rem 1rem;
}

.searchIcon{
  font-size: 2.1rem;
  cursor: pointer;
}

.searchInput{
  padding: .5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #666;
}

.categoriesBox{
  border: 1px solid var(--border);
  margin-top: 3rem;
  border-radius: 2rem;
  padding: 1rem;
}

.categoriesTitle{
  font-weight: 600;
  margin: 1rem 0 1.5rem;
}

.categories{
  background-color: #fbf7e8;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

.categoriesList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.categoriesItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.categoriesList > .categoriesItem:not(:last-child) {
  border-bottom: 1.5px dashed #ccc;
  padding-bottom: .3rem;
}


.categorieItemCountBox{

}

.categorieCount{
  color: #808080;
}

.categorieNameBox{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #808080;
}

.categoriesItem:hover .categorieNameBox{
  color: var(--main-color);
}

.categorieIcon{
  font-size: 2.6rem;
}

.categorieName{

}

.filterByPriceBox{

}

.filterTitle{

}

.rangeContainer{

}

.rangeInput{

}

.priceValue{

}

.priceText{

}

.filterBySizeBox{

}

.filterBySizeTitle{

}

.filterBySizeItems{

}

.filterBySizeItem{

}