@font-face {
  font-family: peyda;
  src: url("/fonts/peyda-light.ttf");
  font-weight: 300; /* وزن سبک */
  font-style: normal;
}

@font-face {
  font-family: peyda;
  src: url("/fonts/Peyda-Regular.ttf");
  font-weight: 400; /* وزن عادی */
  font-style: normal;
}

@font-face {
  font-family: peyda;
  src: url("/fonts/Peyda-Medium.ttf");
  font-weight: 500; /* وزن متوسط */
  font-style: normal;
}

@font-face {
  font-family: peyda;
  src: url("/fonts/Peyda-SemiBold.ttf");
  font-weight: 600; /* نیمه بولد */
  font-style: normal;
}

@font-face {
  font-family: peyda;
  src: url("/fonts/Peyda-Bold.ttf");
  font-weight: 700; /* بولد */
  font-style: normal;
}

@font-face {
  font-family: peyda;
  src: url("/fonts/ExtraBold.ttf");
  font-weight: 800; /* خیلی بولد */
  font-style: normal;
}

@font-face {
  font-family: Norican;
  src: url("/fonts/Norican-Regular.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Bold.ttf");
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: #ffc022;
  --dark: #1e1d23;
  --white: #fff;
  --border: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: peyda, Arial, Helvetica, sans-serif !important;
  font-weight: 400; /* وزن پیش‌فرض عادی */
  min-height: 100vh;
  line-height: 1.6;
  font-size: 1.6rem !important;
  direction: rtl;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 !important;
}

/* این کلاس مربوط به تیره شدن صفحه پس از کلیک بر روی یکسری
از المان ها میباشد */
.overly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overly.active {
  display: block;
}
